$primary:#0027D5;

*{
    line-height: 1.5;
    font-style: Noto Sans TC;
    text-decoration: none;
}
h1{
    font-size: 48px;
    font-weight: 700;
}
h2{
    font-size:28px;
    font-weight: 700;
}
.highlight{
    color:$primary
}