.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.row{
    margin: 0 -12px;
}
.m-row{
    @include mobile{
        margin: 0 -6px;
    }
}
.t-row{
    margin: 0 -4px;
}

.btn{
    border-radius: 4px;
    &:hover{
        border: 1px solid $neutral-900;
    }
}

.btn-black{
    background-color: $neutral-900;
    color:#fff;
    a{color: #fff;}
}


.break-word {
    word-break: break-word;   
    overflow-wrap: break-word; 
    word-wrap: break-word;    
}

.text-none{
    @media (max-width:250px) {
        display: none;
    }
}