@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  line-height: 1.5;
  font-style: Noto Sans TC;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

.highlight {
  color: #0027D5;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 700;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  padding: 24px 0;
}
.header a {
  color: black;
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sns img {
  width: 44px;
  height: 44px;
}

.divider {
  border-top: 2.5px solid #0027D5;
  width: 30px;
}

.footer .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 312px;
}
.footer .footer-main .email {
  font-size: 32px;
  max-width: 1036px;
}
.footer .copyright {
  text-align: center;
  padding: 24px 0;
}

@media (max-width: 600px) {
  .footer {
    max-width: 100vm;
  }
  .footer .footer-main {
    display: none;
  }
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 375px;
}
.container .page1 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 700;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  padding: 24px 0;
}
.container .page1 .cover-inf {
  color: #0027D5;
  background-image: url(/最終作業/素材/Hero\ Section-1.png);
  padding: 24px;
  font-size: 52px;
  font-weight: 900;
}
.container .page1 .cover-inf .cover-position {
  font-size: 28px;
  font-weight: 700;
}
.container .page1 .content {
  padding: 40px 24px;
  font-size: 24px;
}

@media (min-width: 1920px) {
  .container {
    width: 1920px;
  }
  .container .cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}