.logPage{
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 64px;
    @include mobile{
        padding: 0;
        margin-bottom: 32px;
    }
}

.loginImg{
    .imgSm{
        display: none;
        @include mobile{
            display: block;
        }
    }
}
.loginContainer{
    .login{
        padding: 120px 80px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/login-bg.png?raw=true);
        border-radius: 12px;
        height: 589px;
        @include mobile{
            padding: 32px 0;
            background-image: none;
            height: 100%;
        }
    }
    .select li{
        border-bottom: 2px solid $neutral-300;
        width: 50%;
        color:$neutral-600;
        &:hover{
            border-color: $neutral-900;
            color:$neutral-900;
        }
    }
    .sns li{
        border:1px solid $neutral-300;
        background-color: #fff;
        border-radius: 4px;
        &:hover{
            font-weight: 500;
        }
    }
}


