.productGroup{
    flex-wrap: wrap;
    margin: 0 -12px;
    @include mobile{
        margin-right: -6px;
        margin-left: -6px;
    }
    .productCard{
        width: calc(100%/3);
        padding: 0 12px;
        @include mobile{
            width: 50%;
            padding: 0 6px;
        }
    }
}

.pagination{
    li{
        width: 40px;
        padding: 8px 0;
        &:hover{
            background-color: $primary-300;
        }
    }
}