<header class="container">
    <div class="header d-flex aic py-16 m-py-8 col-12">
        <div class="logo mr-48" style=width:129px>
            <a href="/week4-lv3/index.html">
                <img src="../assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <ul class="d-flex d-none">
            <li class="mr-40 py-12"><a href="/week4-lv3/productList.html">商品列表</a></li>
            <li class="py-12" ><a href="/week4-lv3/introduce.html">品牌故事</a></li>
        </ul>
        <div class="ml-auto"><a href="/week4-lv3/login.html"><i class="bi bi-person p-12"></i></a></div>
    </div>
</header>
