<header class="container">
    <div class="row">
        <div class="header d-flex aic py-16 m-py-8 col-12">
            <h1 class="logo mr-48">
                <a href="./index.html">
                    URBNSTEP
                </a>
            </h1>
            <ul class="d-flex d-none">
                <li class="mr-40 py-12"><a href="./productList.html">商品列表</a></li>
                <li class="py-12" ><a href="./introduce.html">品牌故事</a></li>
            </ul>
            <div class="ml-auto"><a href="./login.html"><i class="bi bi-person p-12"></i></a></div>
        </div>
    </div>
</header>
