.aside{
  background-color: $primary-200;
}


.footer {
  background-color: $neutral-100;
  a{
    &:hover{
      font-weight: 600;
    }
  }
}

.copyright p{
  color:$neutral-600;
}

.footer .logo{
    @media (max-width:300px) {
    display: none;
  }
  a{
    background-image: url(/assets/images/logo.svg);
    background-position: center;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
} 