.d-flex{
    display: flex;
}
.d-none{
    display: none;
}

.tac{
    text-align: center;
}

.aic{
    align-items: center;
}

.highlight{
    color:var(--primary-400)
}

.deco{
    border-bottom: 1px solid var(--neutral-300);
}

.btn{
    border-radius: 4px;
    &:hover{
        border: 1px solid var(--neutral-900);
    }
}

.btn-black{
    background-color: var(--neutral-900);
    color:#fff;
}

