.indexCover{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include mobile{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-sm.png?raw=true);
  }
  .coverText{
    padding: 289px 0 288px 200px;
    color:#fff;
    @include mobile{
      padding: 155px 24px;
      margin: 0 auto;
    }
  }
}

.buyNow{
  display: inline-block;
  background: $primary-300;
  padding: 12px 24px;
  color:$neutral-900;
}


.newArrival{
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.bestSeller{
  margin-bottom: 64px;
  .card{
    position: relative;
  }
  @include mobile{
    margin-bottom: 32px;
    overflow-x: scroll; 
    .card{
      width: 100%;
      img{
        width: 300px;
      }
    }
  }
}

.tagContainer{
  position: absolute;
  left: 12px;
  top:0;
  p{
    color:$primary-400;
    padding: 8px 12px;
    background-color: $primary-100;
  }
}

.saleBanner{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:#fff;
  margin-bottom: 112px;
  @include mobile{
    margin-bottom: 64px;
  }
  .bannerContainer{
    padding: 100px;
  }
}

.textbox{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  @include mobile{
    display: block;
    h2>span{
      display: block;
    }
  }
}
.decoStar{
  position: absolute;
  left:-32px;
  top:-32px;
}
.decoSparkle{
  position: absolute;
  right: -40px;
  bottom: -64px;
} 
.saleContent{
  color:$neutral-500;
}

.seriesList{
  flex-wrap: wrap;
  .position-P{
    position: relative;
  }
  .tagSeries{
    color:#fff;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    background: rgba($color: #000000, $alpha: 0.4);
  }
}
.styleContainer,.t-row{
  flex-wrap: wrap;
  @include mobile{
    flex-wrap: nowrap;
  }
}

.styleContainer{
    @include mobile{
    overflow-x: scroll;
    .cal-6,.cal-4,.cal-12{
      width: unset;
      padding: 0;
    }
    img{
      width: 300px;
      height: 300px;
      margin-right: 16px;
    }
    .section1,.section3{
      display: flex;
    }
  }
}

