.banner{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 151px 0;
    color:#fff;
    @include mobile{
        padding: 87px 0;
    }
}

.blockQuote{
    background-color: $primary-100;
    border-radius: 12px;
    @include mobile{
        text-align: left;
    }
}

.cover{
    margin: 0 -110px 24px;
    @include mobile{
        margin: 0 0 16px;
    }
}

.history{
    ul{
        list-style: disc;
    }
    time{
        border-right: 1px solid $neutral-900;
    }
}
.concept{
    li{
        border-left:3px solid $neutral-300;
    }
}

.story{
    li{
        color:$primary-400;
        span{
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
}