.deliverContent{
    background-color: $primary-100;
    color:$primary-400;
    border-radius: 4px;
}

.check{
    width: 40px;
    height: 40px;
    background-color: $primary-400;
    border-radius: 999em;
}

.cartList{
    li:last-child{
        margin-bottom: 144px;
        @include mobile{
            margin-bottom: 96px;
        }
    }
    img{
        width: 120px;
    }
    .cartDetail{
        width: 100%;
        .price{
            @include mobile{
                text-align: left;
            }
        }
        span{
            color:$neutral-600;
        }
    }
}

