.imgGallery{
    flex-wrap: wrap;
    li{
        width: 50%;
        margin-bottom: 8px;
        &:nth-child(2n+1){
            padding-right: 4px;
        }
        &:nth-child(2n){
            padding-left: 4px;
        }
        @include mobile{
            width: 100%;
            display: none;
            &:first-child{
                display: block;
            }
        }
    }
}

.priceGroup{
    .original{
        text-decoration:line-through;
        color:$neutral-500;
    }
}

.colorSelect{
    img{
        width: 64px;
    }
    li{
        color: $neutral-600;
        &:hover{
            color:$neutral-900;
        }
    }
}

.sizeSelect{
    .size{
        flex-wrap:wrap;
        li{
            width: 160px;
            padding: 12px 24px;
            border: 1px solid $neutral-300;
            margin: 0 8px 8px 0;
            @media (max-width:250px) {
                width: 95%;
                margin-right: 0;
                padding: 6px;
            }
            &:hover{
                border-color: $neutral-900;
            }
        }
        .soldout{
            color:$neutral-300;
            &:hover{
                border-color: $neutral-300;
            }
        }
    }
    .inventory{
        color:$danger-300;
    }
}

.favorate{
    @media (max-width:250px) {
        flex-direction: column; 
    }
    .add,.appointment{
        width: 50%;
        a{  
            display: block;
            padding: 12px 24px;
            &:hover{
                background-color: #495057;  
            }
        }
    }
    .add a{
        border:1px solid $neutral-900;
        &:hover{
            background-color: #212529;
            color: #fff;
        }
    }
}

.notice{
    color:$neutral-600;
    font-weight: 400;
    .noticeTitle{
        color:$neutral-900;
        font-weight: 500;
    }
}

.moreProduct{
    .card{
        max-width: 320px;
        &:hover{
            border: 1px solid $neutral-900;
        }
    }
    @include mobile{
        overflow-x:scroll;
        .card{
            width: 100%;
        }
        img{
            width: 300px;
        }
    }
}