.productGroup{
    flex-wrap: wrap;
    margin: 0 -12px;
    @include mobile{
        margin-right: -6px;
        margin-left: -6px;
    }
    .productCard{
        width: calc(100%/3);
        padding: 0 12px;
        @include mobile{
            width: 50%;
            padding: 0 6px;
        }
        &:hover{
            opacity: 0.6;
        }
    }
}

.productList{
    ul>li{
        &:hover{
            opacity: 0.6;
        }
        &:active{
            text-decoration: underline;
            text-underline-offset: 4px;
            opacity: 0.6;
        }
    }
}

.pagination{
    li{
        width: 40px;
        padding: 8px 0;
        &:hover{
            background-color: $neutral-100;
        }
        &:active{
            background-color: $primary-300;
        }
    }
}