.d-flex{
    display: flex;
}
.d-none{
    @include mobile{
        display: none;
    }
}

.d-block{
    @include mobile{
        display: block;
        justify-content: start;
    }
}

.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}

.tac{
    text-align: center;
}
.tal{
    text-align-last: left;
}
.tar{
    text-align: right;
}

.text-highlight{
    color:$primary-400;
}

.deco{
    border-bottom: 1px solid $neutral-300;
}

// no-aside
.no-aside+.aside{
    display: none;
}

.m-no-side+aside{
    @include mobile{
        display: none;
    }
}