@mixin pad{
    @media (max-width:768px) {
        @content;
    }
}

@mixin mobile{
    @media (max-width:568px) {
        @content;
    }
}

// 格線系統的loop
@for $i from 1 through 12 {
    .cal-#{$i} {
        width: calc(100% / 12 * #{$i});
        // gutter寬度
        padding: 0 12px;
    }
}
// 重新定義i，符合4格線
@include mobile {
    @for $i from 1 through 4 {
        .m-cal-#{$i} {
        width: calc(100% / 4 * #{$i});
        padding: 0 6px;
        }
    }
}
// 文字樣式設定
$font-styles: (
    'fz-d1':(size:64px,line:1.2),
    'fz-d2':(size:48px,line:1.2),
    "h1": (size: 40px, line: 1.2),
    "h2": (size: 32px, line: 1.2),
    "h3": (size: 28px, line: 1.2),
    "h4": (size: 24px, line: 1.2),
    "h5": (size: 20px, line: 1.2),
    "h6": (size: 16px, line: 1.2),
    "fz-lg": (size: 20px),
    "fz-md": (size: 16px),
    "fz-sm": (size: 14px),
    "fz-xs": (size: 12px),
);

@each $key, $style in $font-styles {
    .#{$key} {
        font-size: map-get($style, size);
        line-height: map-get($style, line);
    }
}

// fw設定
@for $i from 1 through 9 {
    .fw-#{$i} {
        font-weight: $i * 100;
    }
}
// 手機字型＆fw設定
@include mobile {
    @each $key, $style in $font-styles {
        .m-#{$key} {
        font-size: map-get($style, size);
        line-height: map-get($style, line);
        }
    }

    @for $i from 1 through 9 {
        .m-fw-#{$i} {
        font-weight: $i * 100;
        }
    }
}

// padding,margin設定
$spacings: (
    0: 0,
    4: 4px,
    8: 8px,
    12: 12px,
    16: 16px,
    24: 24px,
    32: 32px,
    40: 40px,
    48: 48px,
    56: 56px,
    64: 64px,
    80: 80px,
    auto:auto
);

$directions: (
    "": "",          // all
    "t": "-top",
    "b": "-bottom",
    "l": "-left",
    "r": "-right",
    "x": ("-left", "-right"),
    "y": ("-top", "-bottom")
);

// 產生 spacing 類別
@each $name, $value in $spacings {
    @each $key, $sides in $directions {
        // margin
        .m#{$key}-#{$name} {
            @if type-of($sides) == "list" {
                @each $side in $sides {
                margin#{$side}: $value;
                }
            } @else {
                margin#{$sides}: $value;
            }
        }

        // padding
        .p#{$key}-#{$name} {
            @if type-of($sides) == "list" {
                @each $side in $sides {
                padding#{$side}: $value;
                }
            } @else {
                padding#{$sides}: $value;
            }
        }
    }
}
// 手機版m,p設定
@include mobile {
    @each $name, $value in $spacings {
        @each $key, $sides in $directions {
        
            // margin
            .m-m#{$key}-#{$name} {
                @if type-of($sides) == "list" {
                @each $side in $sides {
                    margin#{$side}: $value;
                }
                } @else {
                margin#{$sides}: $value;
                }
            }

            // padding
            .m-p#{$key}-#{$name} {
                @if type-of($sides) == "list" {
                @each $side in $sides {
                    padding#{$side}: $value;
                }
                } @else {
                padding#{$sides}: $value;
                }
            }
        }
    }
}

//顏色設定
/* Primary */
$primary-100: #F5FEE7;
$primary-200: #E8FEC5;
$primary-300: #C0FA73;
$primary-400: #57A203;
$primary-500: #477A11;

/* Neutral */
$neutral-0:   #FFFFFF;
$neutral-100: #F8F9FA;
$neutral-200: #E9ECEF;
$neutral-300: #DEE2E6;
$neutral-400: #CED4DA;
$neutral-500: #ADB5BD;
$neutral-600: #6C757D;
$neutral-700: #495057;
$neutral-800: #343A40;
$neutral-900: #212529;

/* Functional - Danger */
$danger-100: #FCF1F1;
$danger-200: #EBA7A7;
$danger-300: #E96C6F;

/* Functional - Warning */
$warning-100: #FFF6EC;
$warning-200: #FBC588;
$warning-300: #F3B812;

/* Functional - Success */
$success-100: #EFF8F4;
$success-200: #9AD1BA;
$success-300: #36A375;

/* Functional - Info */
$info-100: #EEF5FC;
$info-200: #97C3ED;
$info-300: #3087DB;