.header{
    max-width: 1296px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 48px;
    padding:$space-m 0;
    margin: 0 auto;
    .logo{
        font-size: 20px;
        font-weight: 700;
    }
    .navList{
        display: flex;
        column-gap: 40px;
        li{
            padding: $space-s 0;
            & :hover{
                color:#6C757D;
            }
        }
    }
    .login{
        margin-left: auto;
    }   
}

.signinPromote{
    background: #E8FEC5;
    .promote{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 24px;
        padding: $space-l 0;
        p{
            line-height: 1.2;
            font-size: 24px;
            font-weight: 700;
        }
        button{
            background: #000;
            border-radius: $radius-xs;
            padding: $space-s $space-l;
            a{
                color: #fff;
            }
        }
    }
}

.footer{
    width: 1296px;   
    margin: 0 auto;
    padding: $space-5xl 0;
    .navFooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        .navList{
            display: flex;
            column-gap: 40px;
            li :hover{
                color:#6C757D;  
            }
        }
        .logo{
            padding: 8px 12px;
            a{
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
    .copyright{
        text-align: center;
        color:#6C757D;
        padding-top: $space-xl;
        border-top: 1px solid #DEE2E6;
    }
}