.container{
    display: flex;
    width: 1296px;
    column-gap: 24px;
    margin: 0 auto;
    padding: 64px 0;
}



.productGallery{
    width: 57%;
    .imgGroup{
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        li{
            width: 49%;
            margin-bottom: 8px;
        }
    }
}


.content{
    width: 40.5%;
    .breadCrumb{
        margin-bottom: 12px;
    }
    .productName{
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .introduce{
        margin-bottom: 32px;
        p{
            margin-bottom: 12px;
            font-weight: 400;
        }
    }
    .colorSelect{
        margin-bottom: 32px;
        >p{
            margin-bottom: 8px;
            font-weight: 400;
        }
        .colorImg{
            display: flex;
            column-gap: 8px;
            li{
                width: 64px;
                text-align: center;
                & :hover{
                    opacity: 0.8;
                }
                img{
                    margin-bottom: 4px;
                }
            }
        }
    }
}

.sizeSelect{
    margin-bottom: 48px;
    .sizeTitle{
        margin-bottom: 8px;
    }
    .size{
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        li{
            width: 160px;
            text-align: center;
            margin-bottom: 8px;
        }
        .soldout{
            color:#DEE2E6;
            border: 1px solid #DEE2E6;
        }
    }
    .inventory{
        color:red;
        font-size: 14px;
    }
}

.btnContainer{
    display: flex;
    column-gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 32px;
    .favorate,.appointment{
        width: 49%;
        text-align: center;
    }
    .appointment p{
        background: #000;
        color:#fff;
    }
}

.noticeContainer{
    li{
        padding: $space-s 0px;
        border-bottom: 1px solid #DEE2E6;
        .noticeTitle{
            font-style: medium;
        }
        .noticecontent{
            font-weight: 400;
        }
    }
}

.moreContainer{
    width: 1296px;
    margin: 0 auto;
    .moreProduct{
        >p{
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 16px;
        }
        ul{
            display: flex;
            column-gap: 24px;
            .card{
                width: 316px;
                img{
                    margin-bottom: 12px;
                }
                .productName{
                    font-weight: 700;
                    line-height: 1.2;
                }
            }
        }
    }
}