.header{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    column-gap:40px;
    padding: 24px 0;
    a{
        color:black;
    }
}
.sns{
    display: flex;
    img{
        width: 44px;
        height: 44px;   
    }
}
.divider{
    border-top:2.5px solid $primary;
    width: 30px;
}
.footer{
    .footer-main{
        display: flex;
        justify-content: center;
        padding: 80px 312px; 
        .email{
            font-size: 32px;
            max-width: 1036px;
        }
    }
    .copyright{
        text-align: center;
        padding: 24px 0;
    }
}

@media(max-width:600px){
    .footer{
        max-width: 100vm;
        .footer-main{
            display: none;
        }
    }
}