// 預設手機
.container{
    margin: 0 auto;
    padding: 0 15px;
    width: 375px;
    .page1{
        .header{
            display: flex;
            justify-content: center;
            font-size: 28px;
            font-weight: 700;
            column-gap:40px;
            padding: 24px 0;
        }
        .cover-inf{
            color:$primary;
            background-image:url(/最終作業/素材/Hero\ Section-1.png);
            padding: 24px;
            font-size: 52px;
            font-weight: 900; 
            .cover-position{
                font-size: 28px;
                font-weight: 700;
            }
        }
        .content{
            padding: 40px 24px;
            font-size:24px;
        }
    }
}
// desktop
@media(min-width:1920px){
    .container{
        width: 1920px;
        .cover{
            display: flex;
        }
    }
}