<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="indexCover mb-64 m-mb-40">
        <div class="coverText">
        <h1 class="fz-d1 mb-16 fw-7 m-fz-d2">URBNSTEP</h1>
        <h3 class="h3 fw-7 mb-48 m-h5">Your Step, Your Statement</h3>
        <div class=" fw-5">
          <a class="btn buyNow" href="#">立即選購</a>
        </div>
      </div>
    </div>
    <div class="container">
      <h2 class="fz-d2 fw-7 mb-12 tac m-h2 m-mb-8">New Arrival</h2>
      <h3 class="tac h2 fw-7 m-h4 mb-32 m-mb-24">新品上市</h3>
      <ul class="newArrival row d-flex">
        <li class="card cal-6 mb-40 m-mb-24">
          <img class="mb-12 m-mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true" alt="new1">
          <p class="h5 fw-7 m-h6">Monoverse</p>
          <p>NT$3,600</p>
        </li>
        <li class="card cal-6 mb-40 m-mb-24">
          <img class="mb-12 m-mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true" alt="new2">
          <p class="h5 fw-7 m-h6">PLATFORM 404</p>
          <p>NT$2,600</p>
        </li>
        <li class="card cal-6 mb-40 m-mb-24">
          <img class="mb-12 m-mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true" alt="new3">
          <p class="h5 fw-7 m-h6">URBN Force</p>
          <p>NT$3,200</p>
        </li>
        <li class="card cal-6 mb-40 m-mb-24">
          <img class="mb-12 m-mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true" alt="new4">
          <p class="h5 fw-7 m-h6">Mode90</p>
          <p>NT$4,000</p>
        </li>
      </ul>
    </div>
    <div class="container">
      <h2 class="h2 fw-7 mb-16 m-h4">熱銷補貨</h2>
      <ul class="row bestSeller d-flex m-pb-40">
        <li class="card cal-3">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="product-3">
          <div class="tagContainer">
            <p class="fz-sm">人氣 No.1</p>
          </div>
        </li>
        <li class="card cal-3">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="product">
          <div class="tagContainer">
            <p class="fz-sm">人氣 No.1</p>
          </div>
        </li>
        <li class="card cal-3">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="product-6">
          <div class="tagContainer">
            <p class="fz-sm">人氣 No.1</p>
          </div>
        </li>
        <li class="card cal-3">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="product-4">
          <div class="tagContainer">
            <p class="fz-sm">人氣 No.1</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="saleBanner">
      <div class="bannerContainer tac">
        <div class="textbox">
          <h2 class="fz-d2 fw-7 mb-16">
            <span class="m-mb-8">URBNSTEP</span> 
            <span class="highlight m-mb-8">x</span> 
            <span >Kevin Chen</span>
          </h2>
          <h3 class="h2 mb-32 m-h5 m-mb-24">跨界聯名，限量發售</h3>
          <p class="saleContent mb-48 m-mb-32">
            <span class="d-block m-mb-4">新銳漫畫家 Kevin Chen 親自操刀設計</span>
            <span class="d-none">，</span>
            <span class="d-block">街頭能量全面引爆！</span>
          </p>
          <div class="decoStar">
            <img src="../assets/images/star.svg" alt="star" style="width: 48px;">
          </div>
          <div class="decoSparkle">
            <img src="../assets/images/sparkle.svg" alt="sparkle" style="width: 64px;height: 76px;">
          </div>
        </div>
        <div class="fw-5">
          <a class="btn buyNow" href="#">立即搶購</a>
        </div>
      </div>
    </div>
    <div class="container series">
      <h2 class="h2 fw-7 mb-16">依系列選購</h2>
      <ul class="seriesList row d-flex ">
        <li class="cal-3 m-cal-2 card m-mb-12">
          <div class="position-P">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="product-6">
            <div class="tagSeries h3 fw-7 tac m-h6 d-flex aic jcc">
              <p>URBN RUNNER <br> <span class="h4 m-h6">慢跑系列</span></p>
            </div>  
          </div>
        </li>
        <li class="cal-3 m-cal-2 card m-mb-12">
          <div class="position-P">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="product">
            <div class="tagSeries h3 fw-7 tac m-h6 d-flex aic jcc">
              <p>STREETMODE<br> <span class="h4 m-h6">滑板系列</span></p>
            </div>
          </div>
        </li>
        <li class="cal-3 m-cal-2 card">
          <div class="position-P">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true" alt="product-9">
            <div class="tagSeries h3 fw-7 tac m-h6 d-flex aic jcc">
              <p>CHUNK DISTRICT<br> <span class="h4 m-h6">厚底系列</span></p>
            </div>
          </div>
        </li>
        <li class="cal-3 m-cal-2 card mb-64 m-mb-0">
          <div class="position-P">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="product-3">
            <div class="tagSeries h3 fw-7 tac m-h6 d-flex aic jcc">
              <p>COLLAB ZONE<br> <span class="h4 m-h6">聯名企劃</span></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="sectionStyle py-64 py-40">
      <div class="container">
        <h2 class="h2 mb-16 fw-7">穿搭靈感</h2>
        <div class="styleContainer t-row d-flex">
          <div class="section1 cal-4 px-4">
            <div class="d-flex t-row">
              <img class="cal-6 mb-8 px-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-1.png?raw=true" alt="inspiration-1">
              <img class="cal-6 mb-8 px-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-2.png?raw=true" alt="inspiration-2">
            </div>
            <div class="row">
              <img class="cal-12" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-3.png?raw=true" alt="inspiration-3">
            </div>
          </div>
          <div class="section2 cal-4 px-4">
            <div class="t-row d-flex">
              <img class="cal-6 px-4 mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-4.png?raw=true" alt="inspiration-4">
              <img class="cal-6 px-4 mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-5.png?raw=true" alt="inspiration-5">
              <img class="cal-6 px-4 mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-6.png?raw=true" alt="inspiration-6">
              <img class="cal-6 px-4 mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-7.png?raw=true" alt="inspiration-7">
              <img class="cal-6 px-4 mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-8.png?raw=true" alt="inspiration-8">
              <img class="cal-6 px-4 mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-9.png?raw=true" alt="inspiration-9">
            </div>
          </div>
          <div class="section3 cal-4 px-4">
            <div class="row">
              <img class="cal-12 mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-10.png?raw=true" alt="inspiration-10">
            </div>
            <div class="t-row d-flex">
              <img class="cal-6 px-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-11.png?raw=true" alt="inspiration-11">
              <img class="cal-6 px-4" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-12.png?raw=true" alt="inspiration-12">
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
