<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="container tac no-aside">
        <div class="col-6 mx-auto m-col-4">
            <div class="cart  mt-64 m-mt-24">
                <h2 class="h3 fw-7 mb-32 d-flex jcc m-mb-24"><img class="check mr-16" src="/assets/images/check.svg" alt="check"><span>我的收藏</span></h2>
            </div>
            <div class="deliver mb-32 tal m-mb-24">
                <p class="deliverContent p-16"><i class="bi bi-truck mr-12"></i><span>門市營業時間：週一至週五 10:00 - 22:00</span></p>
            </div>
            <ul class="cartList ">
                <li class="d-flex mb-32 deco">
                    <img class="mr-16 mb-32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-11.png?raw=true" alt="product1">
                    <div class="cartDetail ">
                        <h2 class="h5 fw-7 mb-8 tal m-h6">PLATFORM 404</h2>
                        <p class="size mb-8 d-flex m-fz-sm"><span class="mr-12">尺寸</span>38</p>
                        <p class="color mb-8 d-flex m-fz-sm"><span class="mr-12">顏色</span>Navy</p>
                        <p class="price tar h6 fw-7">NT$2,600</p>
                    </div>
                </li>
                <li class="d-flex mb-32 deco">
                    <img class="mr-16 mb-32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="BOOMLOK">
                    <div class="cartDetail ">
                        <h2 class="h5 fw-7 mb-8 tal m-h6">BOOMLOK</h2>
                        <p class="size mb-8 d-flex m-fz-sm"><span class="mr-12">尺寸</span>38</p>
                        <p class="color mb-8 d-flex m-fz-sm"><span class="mr-12">顏色</span>White</p>
                        <p class="price tar h6 fw-7">NT$3,200</p>
                    </div>
                </li>
                <li class="d-flex mb-32 deco">
                    <img class="mr-16 mb-32" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="MELTY KISS">
                    <div class="cartDetail ">
                        <h2 class="h5 fw-7 mb-8 tal m-h6">MELTY KISS</h2>
                        <p class="size mb-8 d-flex m-fz-sm"><span class="mr-12">尺寸</span>38</p>
                        <p class="color mb-8 d-flex m-fz-sm"><span class="mr-12">顏色</span>Navy</p>
                        <p class="price tar h6 fw-7">NT$4,000</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>